<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="tw.com.fcb.sample.io.gary" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="tw.com.fcb.lion.core" level = "debug"> </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>