<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>測試案例</title>
    <style>
		a {text-decoration:none;}
	</style>
</head>
<body>
	<div>
		<h1>測試案例</h1>
		<a href="/demo/branch-count">case 1 : 查詢受通知單位案件數</a><br/><br/>
		<a href="/demo/getbyid">case 2 : 依ID查詢匯入主檔資料</a><br/><br/>
		<a href="/demo/query-irno">case 3 : 依匯入編號查詢匯入主檔資料(S211)</a><br/><br/>
		<a href="/demo/query-ir-datalist">case 4 : 查詢多筆匯入主檔資料(模糊查詢)</a><br/><br/>
		<a href="/demo/irmaster-insert">case 5 : 匯入主檔新增</a><br/><br/>
		<a href="/demo/settle">case 6 : 匯入解款</a>
	</div>
</body>
</html>